# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# compiler dependency tracking
*.d

vs2012/Debug
vs2012/Release
render_engine.sdf

